<nav class="navbar bg-secondary fixed-top">
  <div class="container-fluid">
     <h1 class="navbar-brand title">Catalogo de Personajes</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas bg-light offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title menu" id="offcanvasNavbarLabel">MENU</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active ada" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ada" aria-current="page" routerLink="/Staff">Staff</a>
          </li>
          <li><a class="nav-link active ada" aria-current="page" routerLink="/Characters">Characters</a></li>
          <li><a class="nav-link active ada" aria-current="page" routerLink="/Students">Students</a></li>
          <li class="nav-item dropdown">
            </ul>
      </div>
    </div>
  </div>
</nav>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia consequuntur voluptatem cumque nihil fugit quas esse mollitia minus nulla error, ut consequatur amet est. Sequi architecto nam corporis qui nihil!</p>

<router-outlet></router-outlet>
